.menu-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    top: -5em;
}

.menu-section-bkg {
    position: absolute;
    z-index: 300;
}

.menu-panels {
    position: relative;
    z-index: 400;
    @include flex(column, center, center);
}

.menu-text-panel {
    margin-bottom: 5rem;
}

.menu-text-content {
    width: 100%;
    padding-inline: 4em;

    h2 {
        font-size: var(--fs-600);
        margin-block: 2em;
        text-align: left;
        font-family: 'Ibarra Real Nova', serif;
    }

    p {
        font-size: var(--fs-400);
        font-weight: 100;
        line-height: 1.5;
        margin-bottom: 3em;
        color: rgba(255, 255, 255, 0.6);
    }

    .Menu-CTA {
        width: 9.5em;
        height: 2.5em;
        font-size: var(--fs-400);
        color: white;
        background-color: $secondaryclr;
        border: none;
        border-radius: $borderRad;
        cursor: pointer;
    }
}

.menu-image-panel {
    @include flex(column, center, center);
}

.menu-image {
    margin-block: 1rem;
    overflow: hidden;
    height: 15em;

    img {
        width: 22em;
    }
}

.menu-image-1, .menu-image-2 {
    img {
        position: relative;
        bottom: 5em;
    }
}

@media screen and (min-width: 40em) {
    .menu-panels {
        @include flex(column, center, center);
        width: Min(90%, 93em);
        margin-inline: auto;
        margin-block: 7rem;
    }

    .menu-text-panel {
        width: 100%;
    }

    .menu-text-content {
        @include flex(column, center, center);

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    .menu-image-panel {
        width: 100%;
        @include flex(row, center, center);
        flex-wrap: wrap;
        padding-inline: 2rem;
    }

    .menu-image {
        margin-right: 1.5rem;
    }
}

@media screen and (min-width: 60em) {
    .menu-panels {
        @include flex(row, center, center);
        width: Min(90%, 93em);
        margin-inline: auto;
        margin-block: 7rem;
    }

    .menu-text-panel {
        width: 50%;
    }

    .menu-text-content {
        @include flex(column, center, flex-end);

        h2 {
            text-align: right;
        }

        p {
            text-align: end;
            max-width: 25em;
        }

        .Menu-CTA {
            width: 12em;
            height: 3em;
        }
    }

    .menu-image-panel {
        width: 50%;
        @include flex(row, flex-start, flex-end);
        flex-wrap: wrap;
        padding-inline: 4rem;
    }

    .menu-image {
        height: initial;

        img {
            width: initial;
        }
    }

    .menu-image-1, .menu-image-2 {
        margin-right: 3rem;

        img {
            position: relative;
            bottom: initial;
        }
    }

    .menu-image-2 {

        img {
            width: 14em;
            height: 100%;
        }
    }
    
    .menu-image-3 {
    
        img {
            width: 20em;
            height: 100%;
        }
    }
}