.landing-section {
    width: 100%;
    position: relative;
    z-index: 400;
    overflow: hidden;
}

.landing-bkg {
    height: 40em;
    position: absolute;
    z-index: 300;
}

.landing-bkg img {
    position: relative;
    right: 20em;
}

.hero-text {
    width: Min(80%, 700px);
    position: relative;
    z-index: 400;
    margin-top: 10em;
    margin-bottom: 15em;
    margin-inline: auto;
    text-align: center;

    h1 {
        font-size: var(--fs-xl);
        font-family: 'Ibarra Real Nova', serif;
        margin-bottom: 5rem;
        line-height: 1.5;
    }

    h2 {
        width: 80%;
        margin-inline: auto;
        font-size: var(--fs-400);
        font-weight: 100;
        margin-bottom: 5rem;
        line-height: 1.5;
    }

    .CTA-Hero {
        width: 12em;
        height: 4em;
        font-size: var(--fs-400);
        color: white;
        background-color: $secondaryclr;
        border: none;
        border-radius: $borderRad;
        cursor: pointer;
    }
}

@media screen and (min-width: 40em) {

    .landing-section {
        height: 110%;
    }

    .landing-bkg {
        width: 100%;
        height: 65em;
        position: absolute;
        z-index: 300;
        overflow: hidden;
        top: -4em;
    }
    
    .landing-bkg img {
        height: 100%;
        transform: scale(1.02);
        right: 0;
    }

    .hero-text {
        margin-top: 10em;
        margin-bottom: 20em;
    }
}